<div class="col">
  <h2>Empleados</h2>
  <button class="btn btn-primary" (click)="addCustomer()"><i class="fa fa-plus"></i></button>
  <table class="table table-striped mt-2">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td class="hidden">{{ customer.id }}</td>
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.age }}</td>
        <td>
          <button class="btn btn-success" (click)="editCustomer(customer)">
            <i class="fa fa-edit"></i> Editar
          </button>
          <button class="btn btn-danger ml-1" (click)="deleteCustomer(customer)">
            <i class="fa fa-trash"></i> Borrar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>