<div class="col">
    <h2 class="text-center">Editar Empleado</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  
      <div class="form-group">
        <label for="firstName">Nombre:</label>
        <input formControlName="firstName" placeholder="Nombre" name="firstName" class="form-control" id="firstName" required>
      </div>
  
      <div class="form-group">
        <label for="lastName">Apellido:</label>
        <input formControlName="lastName" placeholder="Apellido" name="lastName" class="form-control" id="lastName" required>
      </div>
  
      <div class="form-group">
        <label for="edad">Edad:</label>
        <input type="number" formControlName="age" placeholder="Edad" name="age" class="form-control" id="age" required>
      </div>
  
      <button class="btn btn-success"><i class="fa fa-check"></i> Aceptar</button>
      <button class="btn btn-primary ml-1" routerLink="list-empleados"><i class="fa fa-undo"></i>Regresar</button>
    </form>
  </div>